$v-notification-types: ('success', 'error', 'warning', 'info');
.v-notification {
  top: 4rem;
  border-left: .25rem solid;
  border-color: inherit !important;
  z-index: 5;

  &--top {
    top: 4rem;
  }

  &--bottom {
    bottom: 2rem;
  }

  @each $type in $v-notification-types {
    &--#{$type} {
      color: var(--v-#{$type}-base);
    }
  }

}

