.slide-fade {
  &-enter-active {
    transition: all .3s ease-in-out;
  }
  &-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  &-enter, &-leave-to {
    transform: translateX(1rem);
    opacity: 0;
  }
}

.fade {
  &-enter-active {
    transition: all .3s ease-in-out;
  }
  &-leave-active {
    transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  &-enter, &-leave-to {
    opacity: 0;
  }
}
