<template>
  <div class="locale-selector">
    <v-select
      v-model="currentLocale"
      :items="locales"
      item-text="name"
      item-value="key"
      @change="changeLocale()"
    >
      <template slot-scope="data" slot:selection>
        {{ data.item.name }}
      </template>
      <template slot-scope="data" slot:item>
        <template v-if="typeof data.item !== 'object'">
          {{ data.item }}
        </template>
        <template v-else>
          {{ data.item.name }}
        </template>
      </template>
    </v-select>
  </div>
</template>

<script>
export default {
  name: 'BaseLangSelect',
  data() {
    return {
      currentLocale: 'ru',
      key: 'lang',
    };
  },
  computed: {
    locales() {
      return Object.keys(this.$vuetify.lang.locales).map((locale) => ({
        key: locale,
        name: this.$vuetify.lang.locales[locale].locale.key,
      }));
    },
  },
  created() {
    this.currentLocale = this.$vuetify.lang.current;
  },
  methods: {
    changeLocale() {
      this.$vuetify.lang.current = this.currentLocale;
      localStorage.setItem(this.key, this.currentLocale);

      this.$notify.success({
        message: `${this.$vuetify.lang.t(
          '$vuetify.locale.changeMsg'
        )} ${this.$vuetify.lang.t('$vuetify.locale.name')}`,
        timeout: 2000,
      });
    },
  },
};
</script>
<style lang="scss">
.locale-selector {
  max-width: 3.375rem;
  margin-top: 1rem !important;
}
</style>
