<template>
  <v-list two-line>
    <v-list-item class="px-2">
      <v-list-item-avatar>
        <v-img v-if="avatar" :src="avatar" />
        <v-icon v-else x-large v-text="'mdi-account-circle mdi-inactive'" />
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title v-text="name" />
        <v-list-item-subtitle v-text="email" />
      </v-list-item-content>
      <v-list-item-action>
        <slot />
      </v-list-item-action>
    </v-list-item>
  </v-list>
</template>

<script>
export default {
  name: 'BaseUserAvatar',
  props: {
    avatar: {
      default: '',
      type: String,
    },
    name: {
      default: 'John Doe',
      type: String,
    },
    email: {
      default: 'john_doe@gmail.com',
      type: String,
    },
  },
};
</script>
