<template>
  <v-tooltip bottom>
    <template #activator="{ on, attrs }">
      <div class="theme-switcher" v-bind="attrs" v-on="on">
        <v-switch
          v-model="$vuetify.theme.dark"
          hide-details
          color="primary"
          @change="changeTheme()"
        />
      </div>
    </template>
    <span v-text="getThemeText" />
  </v-tooltip>
</template>

<script>
export default {
  name: 'BaseThemeSwitcher',
  computed: {
    getThemeText() {
      const darkMode = 'theme.' + (this.$vuetify.theme.dark ? 'off' : 'on');
      return this.$vuetify.lang.t(`$vuetify.${darkMode}`);
    },
  },
  methods: {
    notificationInvoke() {
      this.$notify.success({
        message: this.$vuetify.lang.t('$vuetify.theme.changeMsg'),
      });
    },
    changeTheme() {
      this.$vuetify.theme.dark
        ? localStorage.setItem('darkMode', 'true')
        : localStorage.removeItem('darkMode');
      this.notificationInvoke();
    },
  },
};
</script>
