<template>
  <v-footer color="commonBar" paddless fixed elevation="3" clipped-right app>
    <v-row>
      <v-col class="text-right text-caption" cols="12">
        {{ new Date().getFullYear() }} — <strong>© Telf AG </strong>
      </v-col>
    </v-row>
  </v-footer>
</template>

<script>
export default {
  name: 'Footer',
};
</script>
