<template>
  <v-app-bar app color="commonBar" clipped-left>
    <Logo />
    <v-spacer />
    <lang-select v-if="Object.keys(this.$vuetify.lang.locales).length > 1" />
  </v-app-bar>
</template>

<script>
const Logo = () => import('@/components/common/TheLogo');
const LangSelect = () => import('@/components/base/BaseLangSelect');

export default {
  name: 'Header',
  components: {
    Logo,
    LangSelect,
  },
};
</script>
