<template>
  <svg
    width="172"
    height="32"
    viewBox="0 0 172 32"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <ellipse cx="15.6364" cy="15.6364" rx="15.6364" ry="15.6364" fill="white" />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M135.206 4.03478L127.969 27.1465H135.688L137.004 23.0241H142.705L144.02 27.1465H151.739L144.547 4.03478H135.206ZM138.232 18.1562L139.767 11.7533H140.073L141.608 18.1562H138.232ZM171.211 5.56971C169.062 4.12249 166.474 3.37695 163.755 3.37695C161.519 3.37695 159.107 3.68394 157.309 4.64875C153.23 6.7538 150.993 10.7885 151.125 16.0511C151.3 23.2434 156.256 27.8043 163.273 27.8043C166.43 27.8043 169.149 27.1026 172 25.3484V13.8145H162.22L162.878 18.5947H165.509V22.2347C164.852 22.4978 164.282 22.5855 163.448 22.5855C162.089 22.5855 160.949 22.147 160.115 21.226C157.966 18.7263 157.966 12.762 159.896 10.1307C160.773 8.94656 162.045 8.50801 163.711 8.50801C165.597 8.50801 167.527 9.12198 168.842 10.3938L171.211 5.56971ZM123.759 4.03478H106.656V27.1465H114.287V17.8492H119.9L121.04 12.8497H114.243V9.20969H122.575L123.759 4.03478ZM104.945 21.8838H95.5605V4.03478H87.842V27.1465H103.718L104.945 21.8838ZM65.3881 4.03478H43.022V9.25355H50.1704V27.1465H57.8889V9.25355H64.2479L65.3881 4.03478ZM84.3774 27.1026V21.84H74.9485V17.8492H82.0969V12.8497H74.9485V9.20969H83.9389L85.123 4.03478H67.3177V27.1465H84.3774V27.1026Z"
      :fill="$vuetify.theme.dark ? '#fff' : '#565959'"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M1.22795 9.47272C3.4207 4.29781 8.37634 0.526262 14.2529 0L11.797 9.47272H1.22795ZM14.9546 31.1372C6.66599 30.7863 0 23.9449 0 15.5247C0 15.2178 0 14.8669 0.0438552 14.5599H10.4814L9.95513 16.5773C8.24477 23.1994 9.73585 28.1112 14.9546 31.1372ZM31.181 14.5599C31.181 14.8669 31.2249 15.2178 31.2249 15.5247C31.2249 22.0592 27.1902 27.6726 21.4452 29.9969C18.0683 27.9796 15.9194 24.2958 17.2789 18.9454L18.4192 14.5599H31.181ZM21.7522 1.22795C25.436 2.80673 28.4182 5.78889 29.9969 9.47272H19.691L21.7522 1.22795Z"
      fill="#F02B2E"
    />
  </svg>
</template>

<script>
export default {
  name: 'TheLogo',
};
</script>
