<template>
  <div class="navigation">
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant.sync="mini"
      :permanent="$vuetify.breakpoint.mdAndUp"
      :fixed="$vuetify.breakpoint.smAndDown"
      app
      clipped
      width="320"
      :style="{ background: $vuetify.theme.themes[theme].navbar.background }"
    >
      <user-avatar>
        <v-btn icon @click.stop="mini = !mini">
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
      </user-avatar>
      <v-divider />
      <v-list dense>
        <v-list-item v-for="item in items" :key="item.title" link>
          <v-list-item-icon>
            <v-icon v-text="item.icon" />
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title
              v-text="$vuetify.lang.t('$vuetify.navigation.' + item.title)"
            />
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <template #append>
        <v-divider />
        <v-list dense>
          <v-list-item v-for="item in bottomItems" :key="item.title" link>
            <v-list-item-icon>
              <v-icon v-text="item.icon" />
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title
                v-text="$vuetify.lang.t('$vuetify.navigation.' + item.title)"
              />
            </v-list-item-content>
          </v-list-item>
          <v-list-item>
            <v-list-item-icon>
              <v-icon class="mt-2" v-text="'mdi-theme-light-dark'" />
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title
                v-text="$vuetify.lang.t('$vuetify.theme.name')"
              />
            </v-list-item-content>
            <v-list-item-action>
              <theme-switcher />
            </v-list-item-action>
          </v-list-item>
        </v-list>
        <div :class="['d-flex pt-4 pb-4 justify-center', mini || 'pe-8 ps-8']">
          <v-btn
            :icon="mini"
            :block="!mini"
            color="primary"
            transition="scroll-y-reverse-transition"
          >
            <v-icon v-if="mini" v-text="'mdi-logout'" />
            <span v-else v-text="$vuetify.lang.t('$vuetify.logout')" />
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>
    <v-btn icon class="navigation__btn">
      <v-icon @click.stop="drawer = !drawer" v-text="'mdi-menu'" />
    </v-btn>
  </div>
</template>

<script>
const UserAvatar = () => import('@/components/base/BaseUserAvatar');
const ThemeSwitcher = () => import('@/components/base/BaseThemeSwitcher');
import Throttle from '@/utils/throttle';

export default {
  name: 'TheNavbar',
  components: {
    UserAvatar,
    ThemeSwitcher,
  },
  props: {
    theme: {
      type: String,
      default: 'light',
    },
  },
  data() {
    return {
      items: [
        {
          title: 'home',
          icon: 'mdi-view-dashboard',
        },
        {
          title: 'pages',
          icon: 'mdi-clipboard-edit-outline',
        },
        {
          title: 'articles',
          icon: 'mdi-text-box-multiple-outline',
        },
        {
          title: 'documents',
          icon: 'mdi-bank-outline',
        },
        {
          title: 'offices',
          icon: 'mdi-map-outline',
        },
        {
          title: 'contacts',
          icon: 'mdi-contacts-outline',
        },
      ],
      bottomItems: [
        {
          title: 'users',
          icon: 'mdi-account-supervisor-circle-outline',
        },
        {
          title: 'settings',
          icon: 'mdi-cog-outline',
        },
      ],
      isMobile: this.$vuetify.breakpoint.smAndDown,
      customEventName: 'customWindowResize',
      drawer: !this.$vuetify.breakpoint.smAndDown,
      mini: false,
    };
  },
  mounted() {
    this.createCustomEvent();
    this.addHandler();
  },
  destroyed() {
    this.removeHandler();
  },
  methods: {
    handleWindowResize() {
      if (this.$vuetify.breakpoint.smAndDown) {
        this.mini = false;
      }
    },
    createCustomEvent() {
      new Throttle(this.customEventName);
    },
    addHandler() {
      window.addEventListener(this.customEventName, this.handleWindowResize);
    },
    removeHandler() {
      window.removeEventListener(this.handleWindowResize);
    },
  },
};
</script>

<style lang="scss">
.navigation {
  &__btn {
    z-index: 3;
    position: fixed;
    top: 4rem;
  }
}
</style>
