<template>
  <v-theme-provider root>
    <transition name="fade" appear mode="out-in">
      <component :is="layout" />
    </transition>
  </v-theme-provider>
</template>

<script>
export default {
  name: 'App',
  computed: {
    layout() {
      const layoutName = (this.$route.meta.layout || 'Base') + 'Layout';
      return () => import('@/layouts/' + layoutName);
    },
  },
};
</script>
