<template>
  <v-app :style="{ background: $vuetify.theme.themes[theme].background }">
    <Header />
    <Navbar :theme="theme" />
    <v-main>
      <transition name="slide-fade" mode="out-in">
        <router-view />
      </transition>
    </v-main>
    <Footer />
  </v-app>
</template>

<script>
import Header from '@/components/common/TheHeader';
import Footer from '@/components/common/TheFooter';
import Navbar from '@/components/common/TheNavbar';

export default {
  name: 'BaseLayout',
  components: {
    Header,
    Footer,
    Navbar,
  },
  data() {
    return {};
  },
  computed: {
    theme() {
      return this.$vuetify.theme.dark ? 'dark' : 'light';
    },
  },
};
</script>

<style scoped></style>
